@use "../../var.scss";

.activities-container {
  @include var.center-content;
  width: 100%;
  height: 100vh;
  padding: 0 10vw;
  background: var.$black;
  justify-content: space-between;
  overflow: hidden;

  .desktop-view {
    @include var.center-content;
    flex-direction: column;
    position: relative;
    width: 100%;

    .text-top-container{
      width: 100%;
      text-align: start;
      margin-bottom: 4vw;
      padding: 0 2vw;
      // background: red;

      .topic,
      .desc{
        margin: 0;
        padding: 0;
        color: var.$white;
      }

      .topic{
        font-size: 64px;
        margin-bottom: -8px;
      }

      .desc{
        font-size: 16px;
        line-height: 24px;
        width: 320px;
        color: #979797;
      }
    }

    .content-container {
      // background: darkcyan;
      @include var.center-content;
      width: 100%;

      .content-box {
        @include var.center-content;
        flex-direction: column;
        position: relative;
        width: 100%;
        z-index: 2;

        img {
          cursor: pointer;
          width: 22vw;
          height: 22vw;
          object-fit: cover;
          object-position: top;
          filter: grayscale(100);
          transition: all 0.3s ease-out;
          z-index: 1;
        }

        .text-container {
          color: var.$white;
          margin-top: 32px;
          overflow: hidden;

          .topic-container,
          .desc-container {
            overflow: hidden;
          }

          .topic {
            font-size: 3vw;
          }
          .desc {
            font-size: 1.5vw;
            color: var.$grey;
          }
        }
      }
    }

    .circular-text {
      // background: red;
      position: absolute !important;
      margin: 0 auto;
      border-radius: 50%;
      width: 140px;
      height: 140px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      z-index: 0;
      right: -50px;
      bottom: 50px;
    }

    .circular-text span {
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 22px;
      transition: all 0.5s cubic-bezier(0, 0, 0, 1);
    }
  }

  .swiper {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  padding: 0 16px;
}

.overlay-content img {
  max-height: 90vh;
  width: auto;
  // border-radius: 10px;
  // box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out;
}

/* ป้องกันการใช้ grayscale หรือ scale ที่ภาพใน overlay */
.original-img {
  filter: none !important;
  transform: none !important;
}

.overlay-content img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 848px) {
  .content-box {
    display: none !important;
  }
  .swiper {
    display: flex !important;

    .swiper-slide {
      img {
        width: 320px !important;
        height: 320px !important;
        object-fit: cover;
        object-position: top;
        scale: 1 !important;
        border-radius: 16px;
        filter: grayscale(0) !important;
        transform: none !important;
      }

      .text-container {
        color: var.$white;
        margin-top: 32px;
        margin-bottom: 16px;
        overflow: hidden;
        opacity: 1 !important;

        .topic-container,
        .desc-container {
          overflow: hidden;
        }

        .topic {
          font-size: 32px;
        }
        .desc {
          font-size: 24px;
          color: var.$grey;
        }
      }
    }

    .swiper-pagination-bullet {
      background: var.$blue;
      transition: all 0.3s ease-out;
    }

    .swiper-pagination-bullet-active {
      width: 30px;
      background: linear-gradient(90deg, var.$blue, var.$purple);
      border-radius: 3px;
    }
  }
}
