@use "../../var.scss";

.team-container {
  @include var.center-content;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 8vw 0;
  background: var.$black;
  // background: rebeccapurple;
  overflow: hidden;

  .text-top-container {
    // background: red;
    width: 100%;
    padding: 0 10vw;
    text-align: start;
    z-index: 1;

    .topic,
    .desc {
      margin: 0;
      padding: 0;
      color: var.$white;
    }

    .topic {
      font-size: 64px;
      margin-bottom: -8px;
    }

    .desc {
      font-size: 16px;
      line-height: 24px;
      width: 320px;
      color: #979797;
    }
  }

  .content-container {
    @include var.center-content;
    // background: red;
    padding: 0 8vw;
    margin-top: 24px;
    width: 100%;
    z-index: 1;
    position: relative;

    .content-box {
      // background: darkblue;
      margin: 16px;
      perspective: 1000px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
      }

      .text-bottom-container {
        margin-top: 16px;

        .name,
        .position {
          color: var.$white;
          text-align: end;
        }

        .name {
          font-size: 2vw;
        }
        .position {
          font-size: 1.5vw;
        }
      }
    }
  }

  .content-container::after{
    content: "";
    position: absolute;
    width: 30vw;
    height: 30vw;
    top: 0%;
    border-radius: 50%;
    background: var.$normal-red;
    z-index: -1;
    filter: blur(50px);
  }

  .particles-container {
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-container {
    .content-container {
      .content-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 70%;
        }

        .text-bottom-container {
          width: 70%;

          .name {
            font-size: 24px;
          }
          .position {
            font-size: 16px;
          }
        }
      }
    }

    .content-container::after {
      display: none;
    }
  }
}
