@use '../../var';

.form-ae-careerp{
    @include var.center-content;
    flex-direction: column;
    text-align: start;
    padding: 16px;

    .form-topic{
        margin: 0;
    }

    hr{
        color: var.$black;
        width: 50%;
    }
    .form{
        // padding: 16px;
        
        .box-icon{
            // background: red !important;
            margin: 0;
            padding: 0;
            height: 40px;
            // overflow: hidden;

            .text-or{
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 12px;
            }
        }

        .input-box{
            
            .icon-btn{
                background: none;
                border-radius: 8px;
                min-width: 40px;
                min-height: 40px;
                border: 1px solid var.$dim_white;
            }

            .icon-list{
                position: relative;
                top: 0px;
                left: 8px;
                display: flex;
                align-items: center;
                list-style: none;
                width: 348px;
                color: var.$white;
                background: var.$black;
                border: 1px solid var.$black;
                border-radius: 8px;
                margin: 0 !important;
                padding: 0 !important;
                
                .icon-item{
                    // background: red;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 4px 8px;
                    font-size: 32px;
                    border-radius: 8px;
                    // border: 1px solid var.$black;
                    transition: all .3s ease-out;
                    
                    &:hover{
                        background: var.$grey;
                    }
                }
            }
        }

        input:focus,
        textarea:focus{
            box-shadow: none;
        }

        .preview-container{
            // background: red;
            width: 100%;
            display: flex;
            justify-content: center;

            img{ width: 100%; }
        }
    }

    .btn-container{
        button{
            margin-top: 16px;
            padding: 6px 24px;
            color: var.$white;
            background: var.$blue;
            border: 1px solid var.$blue;
            border-radius: 32px;
            transition: all .3s ease-out;
        }

        button:nth-child(1){
            margin-right: 8px;
            color: var.$black;
            background: var.$white;
            border: 1px solid var.$black;

            &:hover{
                color: var.$white;
                background: var.$black;
                border: 1px solid var.$black;
                box-shadow: 0 0 6px var.$black;
            }
        }

        button:nth-child(2){
            &:hover{
                box-shadow: 0 0 6px var.$blue;
            }
        }

        button:disabled{
            background: none;
            box-shadow: none;
            color: var.$dim_white;
            border: 1px solid var.$dim_white;

            &:hover{ box-shadow: none; }
        }
    }
}