@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Semi Condensed", "Prompt", sans-serif;
}

.nav-container .for-desktop-size {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: #F7F7F9;
  background: #060606;
  padding: 0 3vw;
}
.nav-container .for-desktop-size .left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-container .for-desktop-size .left-side .emblem-container .emblem {
  width: 80px;
  margin-right: 8px;
}
.nav-container .for-desktop-size .left-side .nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav-container .for-desktop-size .left-side .nav-list li > .nav-link {
  position: relative;
  font-size: 16px;
  margin: 0 8px;
  transition: all 0.3s ease-out;
}
.nav-container .for-desktop-size .left-side .nav-list li > .nav-link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: red;
  transition: all 0.3s ease-out;
}
.nav-container .for-desktop-size .left-side .nav-list li > .nav-link:hover::after {
  width: 100%;
}
.nav-container .for-desktop-size .right-side.btn-container .btn {
  font-size: 16px;
  color: #F7F7F9;
  background: #2C2C2C;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
  padding: 3px 16px;
  transition: all 0.3s ease-out;
}
.nav-container .for-desktop-size .right-side.btn-container .btn-SignIn:nth-child(1):hover,
.nav-container .for-desktop-size .right-side.btn-container .btn-SignUp:nth-child(2) {
  background: #0043C0;
  border: 1px solid #0043C0;
  margin-left: 8px;
}
.nav-container .for-desktop-size .right-side.btn-container .btn-SignIn:nth-child(1):hover:hover,
.nav-container .for-desktop-size .right-side.btn-container .btn-SignUp:nth-child(2):hover {
  box-shadow: 0 0 8px #0043C0;
}

@media screen and (max-width: 770px) {
  .for-desktop-size {
    display: none !important;
  }
}
.p-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 25vh;
  color: #F7F7F9;
  background: #060606;
}
.p-header-container .main-title {
  font-size: 64px;
  margin: 0;
}
.p-header-container .sub-title {
  font-size: 20px;
}
.p-header-container .sub-title span {
  color: #0043C0;
}

@media screen and (max-width: 550px) {
  .p-header-container .main-title {
    font-size: 40px !important;
  }
  .p-header-container .sub-title {
    font-size: 14px !important;
  }
}
.user-main-container {
  width: 100%;
  height: auto;
  background: #060606;
}
.user-main-container .desktop-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: #F7F7F9;
  padding: 0 3vw;
}
.user-main-container .desktop-view .nav-left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.user-main-container .desktop-view .nav-left-side .emblem {
  width: 80px;
}
.user-main-container .desktop-view .nav-left-side .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-main-container .desktop-view .nav-left-side .nav-list .nav-link {
  position: relative;
  margin: 0 8px;
}
.user-main-container .desktop-view .nav-left-side .nav-list .nav-link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  background: red;
  transition: all 0.3s ease-out;
}
.user-main-container .desktop-view .nav-left-side .nav-list .nav-link:hover::before {
  width: 100%;
}
.user-main-container .desktop-view .nav-left-side .nav-list .nav-link.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: red;
  transition: all 0.3s ease-out;
}
.user-main-container .desktop-view .nav-right-side.btn-container .btn,
.user-main-container .desktop-view .nav-right-side.btn-container .btn-signIn:hover {
  color: #F7F7F9;
  padding: 3px 24px;
  background: #9B071C;
  border: 1px solid #9B071C;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.user-main-container .desktop-view .nav-right-side.btn-container .btn:hover,
.user-main-container .desktop-view .nav-right-side.btn-container .btn-signIn:hover:hover {
  box-shadow: 0 0 6px #9B071C;
}
.user-main-container .desktop-view .nav-right-side.btn-container .btn-signIn {
  margin: 0 8px;
  background: none;
  border: 1px solid #F7F7F9;
}
.user-main-container .mobile-view {
  display: none;
}

@media screen and (max-width: 770px) {
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: flex !important;
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: flex !important;
    background: #060606;
  }
  .mobile-view .navbar {
    width: 100%;
  }
  .mobile-view .navbar .nav {
    padding: 0 3vw;
  }
  .mobile-view .navbar .nav .nav-box {
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
  }
  .mobile-view .navbar .nav .nav-box .navbar-brand > img {
    width: 50px;
  }
  .mobile-view .navbar .nav .nav-box .icon-btn > ion-icon {
    color: #F7F7F9;
    font-size: 32px;
  }
  .mobile-view .navbar .nav-side {
    align-items: flex-start;
    padding: 3vw 0;
  }
  .mobile-view .navbar .nav-side .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mobile-view .navbar .nav-side .nav-list .nav-link {
    color: #F7F7F9;
    position: relative;
  }
  .mobile-view .navbar .nav-side .nav-list .nav-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    background: red;
    transition: all 0.3s ease-out;
  }
  .mobile-view .navbar .nav-side .nav-list .nav-link:hover::before {
    width: 60%;
  }
  .mobile-view .navbar .nav-side .nav-list .nav-link.active::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    bottom: 0;
    background: red;
    transition: all 0.3s ease-out;
  }
  .mobile-view .navbar .nav-side .btn-container hr {
    width: 100%;
    color: #F7F7F9;
  }
  .mobile-view .navbar .nav-side .btn-container .btn,
  .mobile-view .navbar .nav-side .btn-container .btn-signIn:hover {
    color: #F7F7F9;
    padding: 3px 24px;
    background: #9B071C;
    border: 1px solid #9B071C;
    border-radius: 8px;
    transition: all 0.3s ease-out;
  }
  .mobile-view .navbar .nav-side .btn-container .btn:hover,
  .mobile-view .navbar .nav-side .btn-container .btn-signIn:hover:hover {
    box-shadow: 0 0 6px #9B071C;
  }
  .mobile-view .navbar .nav-side .btn-container .btn-signIn {
    margin: 0 8px;
    background: none;
    border: 1px solid #F7F7F9;
  }
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 50px);
  background: #060606;
  overflow: hidden;
}
.header-container .header-content {
  z-index: 1;
}
.header-container .header-content .btn-container {
  margin-bottom: 16px;
}
.header-container .header-content .btn-container .btn {
  margin: 0 4px;
  color: #F7F7F9;
  background: #9B071C;
  border: 1px solid #9B071C;
  border-radius: 32px;
  padding: 3px 16px;
  font-size: 1.1vw;
  transition: all 0.3s ease-out;
}
.header-container .header-content .btn-container .scholarship-btn {
  background: none;
  border: 1px solid #F7F7F9;
}
.header-container .header-content .btn-container .apply-to-study-btn:hover,
.header-container .header-content .btn-container .scholarship-btn:hover {
  background: #9B071C;
  border: 1px solid #9B071C;
  box-shadow: 0 0 6px #9B071C;
}
.header-container .header-content .text-container {
  user-select: none;
  color: #F7F7F9;
}
.header-container .header-content .text-container .title-TH {
  font-size: 2vw;
  font-weight: 300;
}
.header-container .header-content .text-container .title-EN {
  font-size: 9vw;
  font-weight: 600;
  line-height: 7vw;
}
.header-container .header-content .text-container .title:nth-child(2) {
  display: inline-flex;
  position: relative;
  z-index: 2 !important;
}
.header-container .header-content .text-container .title:nth-child(2) .assets-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-container .header-content .text-container .title:nth-child(2) .assets-1,
.header-container .header-content .text-container .title:nth-child(2) .assets-2 {
  position: absolute;
  top: 0;
}
.header-container .header-content .text-container .title:nth-child(2) .assets-1 {
  width: 13vw;
  right: -15%;
  top: -8vw;
  height: 15vw;
  z-index: -1;
}
.header-container .header-content .text-container .title:nth-child(2) .assets-2 {
  width: 8vw;
  right: -25%;
  top: -110%;
}
.header-container .header-content .text-container .desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-container .header-content .text-container .desc-container .desc {
  font-size: 1.5vw;
  font-weight: 200;
  margin: 0;
  width: 60%;
  font-style: italic;
}
.header-container #lights {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;
  position: absolute;
}
.header-container canvas {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 770px) {
  .header-container .header-content .text-container .title-TH {
    font-size: 24px !important;
  }
  .header-container .header-content .text-container .title-EN {
    font-size: 64px !important;
    line-height: 48px !important;
  }
  .header-container .header-content .text-container .title:nth-child(2) .assets-container,
  .header-container .header-content .text-container .title:nth-child(2) .assets-1,
  .header-container .header-content .text-container .title:nth-child(2) .assets-2 {
    display: none !important;
  }
  .header-container .header-content .text-container .desc-container .desc {
    font-size: 18px !important;
  }
  .header-container .header-content .btn-container .apply-to-study-btn {
    font-size: 16px !important;
  }
  .header-container .header-content .btn-container .scholarship-btn {
    display: none !important;
  }
}
@media screen and (max-width: 405px) {
  .header-container .header-content .text-container .title-TH {
    font-size: 18px !important;
  }
  .header-container .header-content .text-container .title-EN {
    font-size: 52px !important;
    line-height: 40px !important;
  }
  .header-container .header-content .text-container .desc-container .desc {
    font-size: 18px !important;
  }
}
.activities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 4vw;
  background: #060606;
  justify-content: space-between;
  overflow: hidden;
}
.activities-container .desktop-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.activities-container .desktop-view .text-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  text-align: start;
  margin-bottom: 2vw;
  padding: 0;
}
.activities-container .desktop-view .text-top-container .text-top-left {
  margin: 0;
  padding: 0;
}
.activities-container .desktop-view .text-top-container .text-top-left .topic,
.activities-container .desktop-view .text-top-container .text-top-left .desc {
  margin: 0;
  padding: 0;
  color: #F7F7F9;
}
.activities-container .desktop-view .text-top-container .text-top-left .topic {
  font-size: 64px;
  margin-bottom: -8px;
}
.activities-container .desktop-view .text-top-container .text-top-left .desc {
  font-size: 16px;
  line-height: 24px;
  width: 320px;
  color: #979797;
}
.activities-container .desktop-view .text-top-container .text-top-right {
  margin-top: 5vw;
}
.activities-container .desktop-view .text-top-container .text-top-right .btn-prev,
.activities-container .desktop-view .text-top-container .text-top-right .btn-next {
  width: 50px;
  height: 50px;
  color: #F7F7F9;
  background: none;
  border: 1px solid #F7F7F9;
  border-radius: 50%;
  transition: all 0.4s ease-out;
}
.activities-container .desktop-view .text-top-container .text-top-right .btn-prev ion-icon,
.activities-container .desktop-view .text-top-container .text-top-right .btn-next ion-icon {
  font-size: 16px;
  margin-top: 5px;
}
.activities-container .desktop-view .text-top-container .text-top-right .btn-prev:hover,
.activities-container .desktop-view .text-top-container .text-top-right .btn-next:hover {
  color: #060606;
  background: #F7F7F9;
  border: 1px solid #F7F7F9;
}
.activities-container .desktop-view .text-top-container .text-top-right .btn-prev {
  margin-right: 8px;
}
.activities-container .desktop-view .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: auto;
}
.activities-container .desktop-view .content-container .swiper-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vw;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  object-position: top;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container {
  text-align: start;
  margin-top: 1vw;
  padding: 1vw 0 2vw 0;
  overflow: hidden;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .topic-container,
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .desc-container {
  overflow: hidden;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .topic-container .topic,
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .desc-container .topic {
  color: #9B071C;
  margin: 0;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .topic-container .desc,
.activities-container .desktop-view .content-container .swiper-desktop .swiper-slide .text-container .desc-container .desc {
  color: #979797;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-pagination-bullet {
  background: red;
  transition: all 0.3s ease-out;
}
.activities-container .desktop-view .content-container .swiper-desktop .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 3px;
  background: linear-gradient(90deg, #840013, #9B071C);
}
.activities-container .desktop-view .circular-text {
  position: absolute !important;
  margin: 0 auto;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  z-index: 0;
  right: 28%;
  bottom: 70px;
}
.activities-container .desktop-view .circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 22px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
.activities-container .mobile-view {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  padding: 0 16px;
}

.overlay-content img {
  max-height: 90vh;
  width: 90%;
  transition: transform 0.3s ease-in-out;
}

.original-img {
  filter: none !important;
  transform: none !important;
}

.overlay-content img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 849px) {
  .activities-container {
    height: auto !important;
    padding: 6vw 0 !important;
  }
  .activities-container .content-box {
    display: none !important;
  }
  .activities-container .mobile-view {
    display: block !important;
    position: relative;
    width: 100% !important;
    height: auto;
  }
  .activities-container .mobile-view .content-container .text-top-container {
    width: 100%;
    margin-bottom: 3vw;
    padding: 0;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .topic,
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .desc {
    margin: 0;
    padding: 0;
    color: #F7F7F9;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .topic {
    font-size: 64px;
    margin-bottom: -8px;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .desc {
    font-size: 16px;
    line-height: 24px;
    width: 320px;
    color: #979797;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-right {
    display: none !important;
  }
  .activities-container .mobile-view .content-container .swiper-mobile {
    width: 100vw !important;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide img {
    width: 320px !important;
    height: 320px !important;
    object-fit: cover;
    object-position: top;
    scale: 1 !important;
    border-radius: 16px;
    filter: grayscale(0) !important;
    transform: none !important;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide .text-container {
    color: #F7F7F9;
    margin-top: 32px;
    margin-bottom: 16px;
    overflow: hidden;
    opacity: 1 !important;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide .text-container .topic-container,
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide .text-container .desc-container {
    overflow: hidden;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide .text-container .topic {
    font-size: 32px;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide .text-container .desc {
    font-size: 24px;
    color: #2C2C2C;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-pagination-bullet {
    background: #9B071C;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 3px;
    background: linear-gradient(90deg, #840013, #9B071C);
  }
}
@media screen and (max-width: 420px) {
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .topic {
    font-size: 48px;
    margin-bottom: 4px;
  }
  .activities-container .mobile-view .content-container .text-top-container .text-top-left .desc {
    font-size: 14px;
  }
  .activities-container .mobile-view .content-container .swiper-mobile .swiper-slide img {
    width: 250px !important;
    height: 250px !important;
  }
}
.highlight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #F7F7F9;
  background: #060606;
  height: 100vh;
  width: 100%;
}
.highlight-container .hr {
  width: 80px;
  height: 1px;
  background: #F7F7F9;
  margin: 32px 0;
}
.highlight-container .highlight-box .box-type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.highlight-container .highlight-box .box-type .hashtag,
.highlight-container .highlight-box .box-type .type {
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  background: #9B071C;
  border: 1px solid #9B071C;
}
.highlight-container .highlight-box .box-type .hashtag {
  border-radius: 50%;
  font-style: italic;
}
.highlight-container .highlight-box .box-type .type {
  margin-left: 8px;
  border-radius: 32px;
}
.highlight-container .highlight-box .topic-container,
.highlight-container .highlight-box .desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: auto;
}
.highlight-container .highlight-box .topic-container .topic,
.highlight-container .highlight-box .desc-container .topic {
  width: 450px;
  font-size: 32px;
}
.highlight-container .highlight-box .topic-container .desc,
.highlight-container .highlight-box .desc-container .desc {
  width: 800px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 32px;
}
.highlight-container .scroll-reveal {
  margin: 20px 0;
}
.highlight-container .scroll-reveal-text {
  font-size: 12px;
  line-height: 1.5;
}
.highlight-container .word {
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .highlight-container {
    align-items: flex-start;
    padding: 0 3vw;
  }
  .highlight-container .highlight-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .highlight-container .highlight-box .topic-container,
  .highlight-container .highlight-box .desc-container {
    text-align: start;
  }
  .highlight-container .highlight-box .desc-container .desc {
    width: 100% !important;
  }
}
@media screen and (max-width: 535px) {
  .highlight-container .highlight-box .topic-container .topic,
  .highlight-container .highlight-box .desc-container .topic {
    width: 320px !important;
    font-size: 24px !important;
  }
}
.course-container {
  width: 100%;
  height: 100vh;
  color: #F7F7F9;
  background: #060606;
  overflow: hidden;
}
.course-container .text-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vw 8vw;
  justify-content: space-between;
  text-align: start;
  overflow: hidden;
}
.course-container .text-top-container .topic-container .main_topic {
  font-size: 2.5vw;
  max-width: 590px;
}
.course-container .text-top-container .sub_topic {
  display: flex;
  height: 100%;
  font-size: 1vw;
  font-weight: 300;
  align-items: flex-end;
  justify-content: flex-end;
  color: #D2D2D2;
}
.course-container .content-container .desktop-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 52px;
  height: 420px;
  overflow-x: hidden;
}
.course-container .content-container .desktop-view .line-wave-desktop {
  position: absolute;
}
.course-container .content-container .desktop-view .content-box-inner {
  cursor: pointer;
  height: 260px;
  text-align: start;
  border-radius: 24px;
  background: none;
  backdrop-filter: blur(50px);
  border: 1px solid #F7F7F9;
  padding: 48px 24px;
  transition: all 0.3s ease-out;
}
.course-container .content-container .desktop-view .content-box-inner img {
  width: 32px;
}
.course-container .content-container .desktop-view .content-box-inner .text-topic {
  display: flex;
  align-items: center;
}
.course-container .content-container .desktop-view .content-box-inner .text-topic .topic {
  font-size: 18px;
  margin: 0 16px;
  margin-left: 16px;
}
.course-container .content-container .desktop-view .content-box-inner .desc {
  margin-top: 16px;
  font-size: 1vw;
  font-weight: 200;
  color: #D2D2D2;
}
.course-container .content-container .mobile-view {
  display: none;
}

@media screen and (max-width: 850px) {
  .desktop-view {
    display: none !important;
  }
  .course-container {
    height: 500px !important;
  }
  .course-container .text-top-container {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .course-container .text-top-container .topic-container .main_topic {
    font-size: 22px !important;
  }
  .course-container .mobile-view {
    display: flex !important;
  }
  .course-container .mobile-view .line-wave-mobile {
    display: none;
  }
  .course-container .mobile-view .line-wave-tablet {
    position: absolute;
    width: 100%;
  }
  .course-container .mobile-view .swiper {
    width: 420px !important;
  }
  .course-container .mobile-view .swiper .swiper-slide {
    padding: 24px !important;
    height: 280px !important;
    background: none;
    backdrop-filter: blur(50px);
    border: 1px solid #F7F7F9 !important;
    border-radius: 32px !important;
  }
  .course-container .mobile-view .swiper .swiper-slide .text-topic {
    display: flex;
    margin-bottom: 32px;
  }
  .course-container .mobile-view .swiper .swiper-slide .text-topic img {
    width: 30px;
  }
  .course-container .mobile-view .swiper .swiper-slide .text-topic .topic {
    font-size: 18px;
    margin: 0 16px;
    margin-left: 16px;
  }
  .course-container .mobile-view .swiper .swiper-pagination-bullet {
    background: #9B071C;
  }
  .course-container .mobile-view .swiper .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 3px;
    background: linear-gradient(90deg, #840013, #9B071C);
  }
}
@media screen and (max-width: 505px) {
  .course-container .text-top-container .main_topic {
    font-size: 22px !important;
  }
  .course-container .content-container .swiper {
    width: 350px !important;
  }
}
@media screen and (max-width: 390px) {
  .course-container .content-container .swiper {
    width: 300px !important;
  }
  .course-container .content-container .swiper .swiper-slide .desc {
    font-size: 14px !important;
  }
}
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 8vw 0;
  background: #060606;
  overflow: hidden;
}
.team-container .text-top-container {
  width: 100%;
  padding: 0 10vw;
  text-align: start;
  z-index: 1;
}
.team-container .text-top-container .topic,
.team-container .text-top-container .desc {
  margin: 0;
  padding: 0;
  color: #F7F7F9;
}
.team-container .text-top-container .topic {
  font-size: 64px;
  margin-bottom: -8px;
}
.team-container .text-top-container .desc {
  font-size: 16px;
  line-height: 24px;
  width: 320px;
  color: #979797;
}
.team-container .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 8vw;
  margin-top: 24px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.team-container .content-container .desktop-view .content-box {
  margin: 16px;
  perspective: 1000px;
}
.team-container .content-container .desktop-view .content-box img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.team-container .content-container .desktop-view .content-box .text-bottom-container {
  margin-top: 16px;
}
.team-container .content-container .desktop-view .content-box .text-bottom-container .name,
.team-container .content-container .desktop-view .content-box .text-bottom-container .position {
  color: #F7F7F9;
  text-align: end;
}
.team-container .content-container .desktop-view .content-box .text-bottom-container .name {
  font-size: 2vw;
}
.team-container .content-container .desktop-view .content-box .text-bottom-container .position {
  font-size: 1.5vw;
}
.team-container .content-container .mobile-viwe {
  display: none;
}
.team-container .content-container::after {
  content: "";
  position: absolute;
  width: 30vw;
  height: 30vw;
  top: 0%;
  border-radius: 50%;
  background: #9B071C;
  z-index: -1;
  filter: blur(200px);
}
.team-container .particles-container {
  position: absolute;
  width: 100%;
  height: 75%;
  z-index: 0;
}

@media screen and (max-width: 850px) {
  .team-container {
    height: auto !important;
    justify-content: flex-start;
    margin-top: 10vw;
  }
  .team-container .content-container .desktop-view {
    display: none;
  }
  .team-container .content-container .mobile-view {
    position: relative;
    display: flex;
    width: 350px;
    height: auto;
  }
  .team-container .content-container .mobile-view .swiper-mobile .swiper-pagination-bullet {
    background: #9B071C;
  }
  .team-container .content-container .mobile-view .swiper-mobile .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 3px;
    background: linear-gradient(90deg, #840013, #9B071C);
  }
  .team-container .content-container .mobile-view .text-bottom-container {
    color: #F7F7F9;
    text-align: end;
    margin: 24px 0 32px 0;
  }
  .team-container .content-container .mobile-view .text-bottom-container .name {
    font-size: 32px;
  }
  .team-container .content-container .mobile-view .text-bottom-container .position {
    font-size: 24px;
  }
  .team-container .content-container::after {
    display: none;
  }
}
.careerP-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3vw;
  height: 100vh;
  background: #060606;
  flex-direction: column;
}
.careerP-container .text-container {
  color: #F7F7F9;
  width: 350px;
}
.careerP-container .text-container .desc {
  color: #D2D2D2;
}
.careerP-container .card-spotlight {
  cursor: pointer;
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #222;
  background-color: #111;
  padding: 2rem;
  overflow: hidden;
  margin: 16px;
  margin-bottom: 32px;
  color: #F7F7F9;
  text-align: start;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}
.careerP-container .card-spotlight ion-icon {
  font-size: 32px;
  margin-bottom: 16px;
}
.careerP-container .card-spotlight .topic {
  font-size: 24px;
}
.careerP-container .card-spotlight .desc {
  color: rgba(255, 255, 255, 0.2862745098);
}
.careerP-container .card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.careerP-container .card-spotlight:hover::before,
.careerP-container .card-spotlight:focus-within::before {
  opacity: 0.6;
}
.careerP-container .swiper {
  width: 100% !important;
}

.faqs-container {
  padding: 10vw 3vw;
  width: 100%;
  overflow: hidden;
  background: #060606;
}
.faqs-container .title-container {
  color: #F7F7F9;
}
.faqs-container .title-container .title {
  width: 300px;
  font-size: 48px;
}
.faqs-container .accordion {
  --bs-accordion-btn-icon:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon:
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
}
.faqs-container .accordion {
  font-family: "Prompt", sans-serif;
  overflow: hidden;
}
.faqs-container .accordion .accordion-item {
  background: none;
  color: #F7F7F9;
  margin: 8px 0;
  border-radius: 0;
  border: none;
}
.faqs-container .accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 0;
  background: none;
  color: #F7F7F9;
  box-shadow: none;
  border-top: 1px solid #F7F7F9;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.faqs-container .accordion .accordion-item .accordion-header .accordion-button::after {
  transform: scale(2.5);
}
.faqs-container .accordion .accordion-item .accordion-header .ques {
  width: 330px;
  font-size: 32px;
}
.faqs-container .accordion .accordion-item .accordion-body {
  color: #D2D2D2;
}

.showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #060606;
  overflow: hidden;
}
.showcase-container .text-top-container .topic {
  font-size: 48px;
  color: #F7F7F9;
}
.showcase-container .text-top-container .desc {
  width: 350px;
  font-size: 16px;
  color: #979797;
}
.showcase-container .content-container {
  z-index: 3;
  width: 60%;
}
.showcase-container .content-container .content-left-side .swiper .swiper-slide {
  overflow: hidden;
  height: 595px !important;
  height: auto;
  border-radius: 6px;
}
.showcase-container .content-container .content-left-side .swiper .swiper-pagination-bullet {
  background: #9B071C;
}
.showcase-container .content-container .content-left-side .swiper .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 3px;
  background: linear-gradient(90deg, #840013, #9B071C);
}
.showcase-container .content-container .content-left-side .link-container {
  margin-top: 16px;
}
.showcase-container .content-container .content-left-side .link-container a {
  color: #F7F7F9;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.showcase-container .content-container .content-left-side .link-container a:hover {
  color: #9B071C;
}
.showcase-container .orb-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 70%;
}
.showcase-container .particles-container {
  position: absolute;
  width: 100%;
  height: 98.4%;
}

@media screen and (max-width: 990px) {
  .showcase-container {
    height: auto;
  }
  .showcase-container .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .showcase-container .content-container .content-right-side {
    width: 375px !important;
    margin: 16px 0 !important;
  }
}
@media screen and (max-width: 635px) {
  .showcase-container .text-top-container .desc {
    width: 350px;
  }
  .showcase-container .content-container {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .showcase-container .content-container .content-left-side .swiper {
    width: 320px !important;
  }
  .showcase-container .content-container .content-left-side .swiper .swiper-slide {
    border: none;
    padding: 0;
  }
}
blockquote {
  background: #F7F7F9 !important;
  width: 300px !important;
}

.p-activities-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.p-activities-container .content-container {
  padding: 3vw;
}
.p-activities-container .content-container .flip {
  position: relative;
  margin-bottom: 24px;
}
.p-activities-container .content-container .flip > .front,
.p-activities-container .content-container .flip > .back {
  display: block;
  transition: all 0.6s ease-out;
}
.p-activities-container .content-container .flip > .front {
  transform: rotateY(0deg);
  width: 22vw;
  height: 22vw;
  object-fit: cover;
  object-position: top;
}
.p-activities-container .content-container .flip > .front .poster {
  width: 100%;
}
.p-activities-container .content-container .flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5vw;
  padding: 2vw;
  width: 22vw;
  height: 22vw;
  overflow: hidden;
  color: #F7F7F9;
  background: #0043C0;
}
.p-activities-container .content-container .flip > .back .topic {
  margin: 0;
}
.p-activities-container .content-container .flip:hover > .front {
  transform: rotateY(180deg);
}
.p-activities-container .content-container .flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

@media screen and (max-width: 767px) {
  .p-activities-container .content-container .flip {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .p-activities-container .content-container .flip .front {
    width: 100%;
    height: auto !important;
  }
  .p-activities-container .content-container .flip .front .poster {
    width: 320px !important;
    height: 320px !important;
  }
  .p-activities-container .content-container .flip .back {
    width: 320px !important;
    height: 320px !important;
    font-size: 22px !important;
  }
}
.contact-container {
  width: 100%;
  height: 100vh;
  background: #F7F7F9;
}
.contact-container .content-container {
  position: relative;
  padding: 3vw 8vw;
  overflow: hidden;
  background: #F7F7F9;
}
.contact-container .content-container .contact-deatils {
  padding-right: 6vw;
}
.contact-container .content-container .contact-deatils .desc {
  font-size: 12px;
  color: #2C2C2C;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box {
  display: flex;
  margin: 8px;
  padding: 5px 8px;
  background: none;
  align-items: center;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box ion-icon {
  font-size: 16px;
  padding: 12px;
  color: #F7F7F9;
  background: #060606;
  border-radius: 3px;
  margin-right: 16px;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  text-align: start;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .title-box,
.contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .desc-box {
  margin: 0;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .title-box {
  font-size: 1.2vw;
  width: 100%;
}
.contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .desc-box {
  font-size: 0.9vw;
}
.contact-container .content-container .contact-deatils .contact-box-container .address ion-icon {
  font-size: 22px;
  padding: 8px 12px;
}
.contact-container .content-container .vl {
  position: absolute;
  border-left: 1px solid #060606;
  height: 500px;
  left: 47%;
}
.contact-container .content-container .get-in-touch hr {
  width: 30%;
}
.contact-container .content-container .get-in-touch .input-box,
.contact-container .content-container .get-in-touch .send-mess-btn {
  position: relative;
  width: 80%;
}
.contact-container .content-container .get-in-touch .input-box input:focus,
.contact-container .content-container .get-in-touch .input-box textarea:focus,
.contact-container .content-container .get-in-touch .send-mess-btn input:focus,
.contact-container .content-container .get-in-touch .send-mess-btn textarea:focus {
  box-shadow: none;
}
.contact-container .content-container .get-in-touch .send-mess-btn {
  cursor: pointer;
  padding: 8px 0;
  color: #F7F7F9;
  background: #060606;
  border: 1px solid #060606;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.contact-container .content-container .get-in-touch .send-mess-btn:hover {
  color: #060606;
  background-color: transparent;
}
.contact-container .content-container .get-in-touch .send-mess-btn:disabled {
  background: #D2D2D2;
  border: 1px solid #D2D2D2;
}
.contact-container .content-container .get-in-touch .send-mess-btn:disabled:hover {
  color: #F7F7F9;
}

@media screen and (max-width: 990px) {
  .contact-container .content-container .contact-deatils .contact-box-container .contact-box {
    width: 250px !important;
  }
  .contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .title-box {
    font-size: 14px !important;
  }
  .contact-container .content-container .contact-deatils .contact-box-container .contact-box .text-container .desc-box {
    font-size: 12px !important;
  }
  .contact-container .content-container .vl {
    display: none !important;
  }
  .contact-container .content-container .get-in-touch .input-box,
  .contact-container .content-container .get-in-touch .send-mess-btn {
    width: 100% !important;
  }
}
.roadmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #060606;
}
.roadmap-container .orb-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 70%;
}
.roadmap-container .particles-container {
  position: relative;
  width: 100%;
  height: 98%;
}

.amain-container .sidebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background: #060606;
  width: 80px;
  max-width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.amain-container .sidebar-container .logo {
  width: 50px;
}
.amain-container .sidebar-container .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  list-style: none;
  margin-top: 16px;
  padding: 0;
}
.amain-container .sidebar-container .nav-list .nav-link {
  position: relative;
  color: #F7F7F9;
  font-size: 22px;
  margin: 8px 0;
  transition: all 0.3s ease-out;
}
.amain-container .sidebar-container .nav-list .nav-link ion-icon {
  margin-top: 8px;
}
.amain-container .sidebar-container .nav-list .nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  bottom: -15px;
  padding: 3px 8px;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 32px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.amain-container .sidebar-container .nav-list .nav-link:hover::after {
  opacity: 1;
}
.amain-container .sidebar-container .nav-list .nav-link.active {
  background: #0043C0;
  padding: 8px 16px;
  border-radius: 50%;
}
.amain-container .sidebar-container .nav-bottom .line-hr {
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
  background: #D2D2D2;
}
.amain-container .content-container {
  margin-left: 80px;
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #060606;
  flex-direction: column;
  width: 100%;
  height: 300px;
}
.head-container .add-new-btn {
  display: flex;
  align-items: center;
  background: red;
  padding: 3px 16px;
  color: #F7F7F9;
  background: #0043C0;
  border: 1px solid #0043C0;
  margin-bottom: 8px;
  transition: all 0.3s ease-out;
}
.head-container .add-new-btn ion-icon {
  margin-right: 6px;
}
.head-container .add-new-btn:hover {
  background: none;
}
.head-container .head-title,
.head-container .sub-title {
  color: #F7F7F9;
}
.head-container .head-title {
  font-size: 6vw;
}
.head-container .sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.head-container .sub-title ion-icon,
.head-container .sub-title span {
  color: #0043C0;
}

.form-ae-activities {
  padding: 16px;
}
.form-ae-activities form {
  text-align: start;
  padding: 16px;
}
.form-ae-activities form .input-box input:focus,
.form-ae-activities form .input-box textarea:focus {
  box-shadow: none;
}
.form-ae-activities form .preview-container img {
  width: 100%;
}
.form-ae-activities .btn-container button {
  padding: 6px 24px;
  color: #F7F7F9;
  background: #0043C0;
  border: 1px solid #0043C0;
  border-radius: 32px;
  transition: all 0.3s ease-out;
}
.form-ae-activities .btn-container button:nth-child(1) {
  margin-right: 8px;
  color: #060606;
  background: #F7F7F9;
  border: 1px solid #060606;
}
.form-ae-activities .btn-container button:nth-child(1):hover {
  color: #F7F7F9;
  background: #060606;
  border: 1px solid #060606;
  box-shadow: 0 0 6px #060606;
}
.form-ae-activities .btn-container button:nth-child(2):hover {
  box-shadow: 0 0 6px #0043C0;
}

.form-ae-careerp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-align: start;
  padding: 16px;
}
.form-ae-careerp .form-topic {
  margin: 0;
}
.form-ae-careerp hr {
  color: #060606;
  width: 50%;
}
.form-ae-careerp .form .box-icon {
  margin: 0;
  padding: 0;
  height: 40px;
}
.form-ae-careerp .form .box-icon .text-or {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.form-ae-careerp .form .input-box .icon-btn {
  background: none;
  border-radius: 8px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #D2D2D2;
}
.form-ae-careerp .form .input-box .icon-list {
  position: relative;
  top: 0px;
  left: 8px;
  display: flex;
  align-items: center;
  list-style: none;
  width: 348px;
  color: #F7F7F9;
  background: #060606;
  border: 1px solid #060606;
  border-radius: 8px;
  margin: 0 !important;
  padding: 0 !important;
}
.form-ae-careerp .form .input-box .icon-list .icon-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 8px;
  font-size: 32px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.form-ae-careerp .form .input-box .icon-list .icon-item:hover {
  background: #2C2C2C;
}
.form-ae-careerp .form input:focus,
.form-ae-careerp .form textarea:focus {
  box-shadow: none;
}
.form-ae-careerp .form .preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-ae-careerp .form .preview-container img {
  width: 100%;
}
.form-ae-careerp .btn-container button {
  margin-top: 16px;
  padding: 6px 24px;
  color: #F7F7F9;
  background: #0043C0;
  border: 1px solid #0043C0;
  border-radius: 32px;
  transition: all 0.3s ease-out;
}
.form-ae-careerp .btn-container button:nth-child(1) {
  margin-right: 8px;
  color: #060606;
  background: #F7F7F9;
  border: 1px solid #060606;
}
.form-ae-careerp .btn-container button:nth-child(1):hover {
  color: #F7F7F9;
  background: #060606;
  border: 1px solid #060606;
  box-shadow: 0 0 6px #060606;
}
.form-ae-careerp .btn-container button:nth-child(2):hover {
  box-shadow: 0 0 6px #0043C0;
}
.form-ae-careerp .btn-container button:disabled {
  background: none;
  box-shadow: none;
  color: #D2D2D2;
  border: 1px solid #D2D2D2;
}
.form-ae-careerp .btn-container button:disabled:hover {
  box-shadow: none;
}

.form-ae-faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 24px;
}
.form-ae-faqs .form-topic {
  margin: 0;
}
.form-ae-faqs hr {
  color: #060606;
  width: 50%;
}
.form-ae-faqs form {
  width: 100%;
  text-align: start;
}
.form-ae-faqs form input:focus,
.form-ae-faqs form textarea:focus {
  box-shadow: none;
}
.form-ae-faqs .btn-container button {
  margin-top: 16px;
  padding: 6px 24px;
  color: #F7F7F9;
  background: #0043C0;
  border: 1px solid #0043C0;
  border-radius: 32px;
  transition: all 0.3s ease-out;
}
.form-ae-faqs .btn-container button:nth-child(1) {
  margin-right: 8px;
  color: #060606;
  background: #F7F7F9;
  border: 1px solid #060606;
}
.form-ae-faqs .btn-container button:nth-child(1):hover {
  color: #F7F7F9;
  background: #060606;
  border: 1px solid #060606;
  box-shadow: 0 0 6px #060606;
}
.form-ae-faqs .btn-container button:nth-child(2):hover {
  box-shadow: 0 0 6px #0043C0;
}
.form-ae-faqs .btn-container button:disabled {
  background: none;
  box-shadow: none;
  color: #D2D2D2;
  border: 1px solid #D2D2D2;
}
.form-ae-faqs .btn-container button:disabled:hover {
  box-shadow: none;
}

.modal-delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.modal-delete-container .del-icon ion-icon {
  font-size: 32px;
  padding: 16px;
  color: #B21010;
  background: rgb(255, 225, 225);
  border-radius: 50%;
}
.modal-delete-container .title {
  color: #850303;
  font-weight: 900;
}
.modal-delete-container .detail {
  color: #060606;
  margin: 8px 0 16px 0;
}
.modal-delete-container .detail .delete-topic {
  color: #850303;
}
.modal-delete-container .md-btn-container button {
  padding: 6px 18px;
  margin: 0 6px;
  color: #060606;
  background: none;
  border-radius: 32px;
  border: 1px solid #060606;
  transition: all 0.4s ease-out;
}
.modal-delete-container .md-btn-container button:nth-child(1):hover {
  color: #F7F7F9;
  background: #060606;
}
.modal-delete-container .md-btn-container button:nth-child(2) {
  color: #F7F7F9;
  background: #850303;
  border: 1px solid #850303;
}
.modal-delete-container .md-btn-container button:nth-child(2):hover {
  box-shadow: 0 0 8px #850303;
}

.afaqs-container .content-container table {
  border-radius: 32px;
}
.afaqs-container .content-container table thead {
  color: #F7F7F9;
  background: #060606;
}
.afaqs-container .content-container table thead th {
  padding: 8px;
}
.afaqs-container .content-container table tbody td {
  padding: 16px;
}
.afaqs-container .content-container table tbody td:last-child {
  display: flex;
}
.afaqs-container .content-container table tbody td:last-child button {
  width: 35px;
  height: 35px;
  padding: 6px;
  color: #0043C0;
  background: none;
  border: 1px solid #0043C0;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}
.afaqs-container .content-container table tbody td:last-child button ion-icon {
  font-size: 18px;
}
.afaqs-container .content-container table tbody td:last-child button:nth-child(1):hover {
  color: #F7F7F9;
  background: #0043C0;
}
.afaqs-container .content-container table tbody td:last-child button:nth-child(2) {
  margin-left: 6px;
  color: #B21010;
  border: 1px solid #B21010;
}
.afaqs-container .content-container table tbody td:last-child button:nth-child(2):hover {
  color: #F7F7F9;
  background: #B21010;
}

.act_carp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.act_carp-container .content-container {
  width: 100%;
  padding: 3vw;
}
.act_carp-container .content-container .comp-container {
  margin: 0;
}
.act_carp-container .content-container .comp-container .comp-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #D2D2D2;
  padding-bottom: 24px;
  position: relative;
}
.act_carp-container .content-container .comp-container .comp-card ion-icon {
  font-size: 32px;
  color: #060606;
}
.act_carp-container .content-container .comp-container .comp-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}
.act_carp-container .content-container .comp-container .comp-card .topic {
  margin-top: 16px;
  font-size: 24px;
}
.act_carp-container .content-container .comp-container .comp-card .topic-careerp {
  font-size: 20px;
}
.act_carp-container .content-container .comp-container .comp-card .desc {
  width: 80%;
  font-size: 14px;
}
.act_carp-container .content-container .comp-container .comp-card .btn-container button {
  font-size: 12px;
  padding: 8px;
  color: #F7F7F9;
  background: #B21010;
  border: 1px solid #B21010;
  border-radius: 3px;
}
.act_carp-container .content-container .comp-container .comp-card .btn-container button:nth-child(1) {
  color: #060606;
  background: #F7F7F9;
  border: 1px solid #D2D2D2;
  margin: 8px;
}
.act_carp-container .content-container .comp-container .comp-card-careeep {
  padding: 24px;
  align-items: flex-start;
  text-align: start;
}

/*# sourceMappingURL=main.css.map */
